h1 {
  text-align: center;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  background: #885df1;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  padding: 15px 20px;
  box-shadow: 7px 5px 12px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 60px;
}

button:hover {
  cursor: pointer;
}
